.footer  {
  text-align: center;
  padding-top: 50px;
  font-size: 0.75em;
}





a:link  {
  color: rgb(195, 28, 28);
  text-decoration: none;
}
a:visited  {
  color: rgb(195, 28, 28);
  text-decoration: none;
}
a:hover {
  color: rgb(128, 128, 128);
  text-decoration: none;
}


.header a:link  {
  color: rgb(0,0,0);
  text-decoration: none;
}
.header a:visited  {
  color: rgb(0,0,0);
  text-decoration: none;
}
.header a:hover  {
  color: rgb(128, 128, 128);
  text-decoration: none;
}

