body {
  background: #F0EAD6; 
}

.nav-bar {
  position: fixed;
  background: #012345;
  text-align: center;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 0 1em #012345;
}

.title {
  position: relative;
  padding: 1em 1em;
  color: #f0f0f0;
  z-index: 100;
}

.nav-bar-rect {
  position: absolute;
  fill: #e1e1e1;
  z-index: 50;
}

.ugh {
  position: absolute;
  background: #ef4321;
  width: 250px;
  height: 75px;
  box-shadow: 0 0 1em #012345;
  top: 0;
  z-index: -1;
}
#ech-right {
  left: 0;
  margin-left: 50%;
}
#ech-left {
  right: 0;
  margin-right: 50%;
}

#nav-bar-seperator {
  width: 100%;
  height: 100px;
}
